body {
    min-height: 100vh;
    background: linear-gradient(180deg, #050812, #0c1220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Segoe UI, sans-serif;
}

.titulo {
    margin-bottom: 30px;
    font-size: 32px;
}

.login-box {
    background: #0f172a;
    padding: 30px;
    border-radius: 16px;
    width: 320px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

.login-box button {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    background: #0096ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
